
/* 
Rebecca Peltz
CSS Project 
*/

body {
  background-image: url('images/Xanadu_on_Map_of_Asia.JPG');
}

header {
  background: #efe8d7;
  padding: 10px;
}
header h1 {
  margin-top: 0;
}

aside,section, header, footer.page-footer  {
  margin: 15px 100px;
  border-radius: 25px;
}


ul.poem {
  padding: 50px; 
  text-align:center;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: sans-serif;
}

.more-info h2 {
  margin: 0;
}

.page-header h1 {
  margin-bottom: 0;
}

.page-header p {
  margin-top: 0;
}

.page-header small {
  font-size: medium;
}

header.page-header {}


aside.more-info {
  background: #efe8d7;
  padding-left: 30px;
  padding-top: 25px;
  padding-bottom: 25px;
}

aside.more-info img {
  width: 150px;
  height: auto;
  background: #efe8d7;
  display: block;
}

section#content {
  background: #efe8d7;
}

footer.content-footer {
  padding: 25px;
}

footer.page-footer {
  background: #efe8d7;
  padding: 25px;
}
footer.page-footer ul {
    list-style-type: none;
}


.poem {
  list-style-type: none;
}

.poem li {
  color: black;
  font-size: large;
  line-height: 1.2;
}

ul.info-links,
ul.social-links {
  list-style-type: none;
}

ul.info-links li,
ul.social-links li {
  display: inline-block;
}

ul.info-links li a,
ul.social-links li a {
  display: block;
  margin-right: 10px;
  font-family: sans-serif;
}


/* unvisited link */

ul.info-links li a:link,
ul.social-links li a:link {
  color: black;
}


/* visited link */

ul.info-links li a:visited,
ul.social-links li a:visited {
  color: gray;
}


/* mouse over link */

ul.info-links li a:hover,
ul.social-links li a:hover {
  color: blue;
}


/* selected link */

ul.info-links li a:active,
ul.social-links li a:active {
  color: blue;
}